<!--<mat-card>-->
<!--  <mat-card-title>Login</mat-card-title>-->
<!--  <mat-card-content>-->
<!--    <form [formGroup]="formLogin" (ngSubmit)="HandleLogin()">-->
<!--      <div *ngIf="formLogin.controls['username'].invalid && (formLogin.controls['username'].dirty || formLogin.controls['username'].touched)" class="alert alert-danger">-->
<!--        User Name is required.-->
<!--      </div>-->
<!--      <p>-->
<!--        <mat-form-field>-->
<!--          <input type="text" matInput placeholder="Username" formControlName="username">-->
<!--        </mat-form-field>-->
<!--      </p>-->


<!--      <div *ngIf="formLogin.controls['password'].invalid && (formLogin.controls['password'].dirty || formLogin.controls['password'].touched)" class="alert alert-danger">-->
<!--        Password is required.-->
<!--      </div>-->
<!--      <p>-->
<!--      <mat-form-field>-->
<!--        <input type="password" matInput placeholder="Password" formControlName="password">-->
<!--      </mat-form-field>-->
<!--      </p>-->

<!--      <div class="button">-->
<!--        &lt;!&ndash;<button mat-raised-button (click)="openDialog()">Don't have an Account ?</button>&ndash;&gt;-->
<!--        <button mat-raised-button color="primary" routerLink="/signup">Don't have an Account ?</button>-->
<!--        <button type="submit" mat-button [disabled]="!formLogin.valid || formLogin.pristine">Login</button>-->
<!--      </div>-->

<!--    </form>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->

<div class="container">
  <div class="welcome-section">
    <img src="assets/img_4.png" alt="Illustration" class="illustration">
  </div>
  <div class="login-section">
    <h1>Welcome Back!</h1>

<!--    <mat-card>-->
<!--      <mat-card-content>-->

        <form [formGroup]="formLogin" (ngSubmit)="HandleLogin()">
          <div *ngIf="formLogin.controls['username'].invalid && (formLogin.controls['username'].dirty || formLogin.controls['username'].touched)" class="alert alert-danger">
            User Name is required.
          </div>

            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="user123@gmail.com" formControlName="username">
<!--            <mat-form-field>-->
<!--              <input type="text" matInput placeholder="Username" formControlName="username">-->
<!--            </mat-form-field>-->

          <div *ngIf="formLogin.controls['password'].invalid && (formLogin.controls['password'].dirty || formLogin.controls['password'].touched)" class="alert alert-danger">
            Password is required.
          </div>
<!--          <p>-->
<!--            <mat-form-field>-->
<!--              <input type="password" matInput placeholder="Password" formControlName="password">-->
<!--            </mat-form-field>-->
<!--          </p>-->
          <label for="password">Password</label>
          <input type="password" id="password" name="password" formControlName="password">
<!--          <a href="#" class="forgot-password">Forgot password?</a>-->
          <button type="submit"  color="primary" class="login-button" [disabled]="!formLogin.valid || formLogin.pristine">Log in</button>
        </form>
    <button  class="button-signup" routerLink="/signup">Don't have an Account ?</button>

<!--      </mat-card-content>-->
<!--    </mat-card>-->
  </div>
</div>
<!-- Add Angular Material JS -->

