<div class="navbar">
  <div class="top">
    <mat-icon>notifications_none</mat-icon>
  </div>

  <div class="user">
    <!-- Utilisez ngSrc pour charger l'image de manière optimisée -->
    <img src="/assets/man.png">
    <h4 class="name">{{ userName }}</h4>
    <p class="mail">{{ userEmail }}</p>
  </div>
  <div class="menu">
    <div class="menu-head">
      <span>Mind___Boost</span>
    </div>
    <div class="menu-item">
      <button mat-button class="menu-button" (click)="toggleProfilePage()" routerLink="/user/profile">
        <mat-icon style="color:white">dashboard</mat-icon>
        <span>Dashboard</span>
      </button>

    </div>

  </div>
</div>
