<div class="container">
  <div class="profile-container">
    <div [ngClass]="getClass()">
      <div class="col-left">
        <div class="card welcome-card">
          <div class="card-head welcome-head-container">
            <div class="col-left">
              <div></div>
              <p></p>
            </div>
            <div class="col-right">
              <img src='assets/profile-bg-3.png' alt="">
            </div>
          </div>
          <div class="card-body welcome-body-container">
            <div class="col-left">
              <div class="avatar user-initial">
                <div *ngIf="myProfil?.userName">
                  {{ myProfil.userName.charAt(0).toUpperCase() }}
                </div>
              </div>
              <div class="name">{{myProfil.userName}}</div>
              <p>{{myProfil.role}}</p>
              <div style="padding-right: 10px">
                <mat-card class="info-card">
                  <mat-card-content> <mat-icon>person</mat-icon> {{myProfil.gender}}</mat-card-content>
                </mat-card>
              <mat-card class="info-card">

                <mat-card-content><mat-icon>phone</mat-icon>{{myProfil.phone}} </mat-card-content>
              </mat-card>
                <mat-card class="info-card">
                  <mat-card-content><mat-icon>email</mat-icon> {{myProfil.email}}</mat-card-content>
                </mat-card>
              <mat-card class="info-card">

                <mat-card-content><mat-icon>date_range</mat-icon> {{myProfil.age}} years</mat-card-content>
              </mat-card>

              </div>
            </div>
            <div class="col-right">

              <div class="view-profile">
                <button  mat-raised-button (click)="openEditProfileDialog()" >
                  <mat-icon>edit</mat-icon>
                  Edit Profile
                </button>
              </div>
              <div style="padding-left: 10px ;padding-top:55px">
              <mat-card class="info-card">
                <mat-card-content><mat-icon>work</mat-icon> {{myProfil.profession}}</mat-card-content>
              </mat-card>
              <mat-card class="info-card">
                <mat-card-content><mat-icon>history</mat-icon>{{myProfil.medicalHistory}} </mat-card-content>
              </mat-card>
              <mat-card class="info-card">
                <mat-card-content><mat-icon>location_on</mat-icon> {{myProfil.city}}</mat-card-content>
              </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
