.post-container {
  display: flex;
  flex-wrap: wrap; /* Permet aux cartes de passer à la ligne si elles ne tiennent pas sur une seule ligne */
  justify-content: space-between; /* Répartit les cartes également dans la ligne */
  margin: 1%;
}

.card-class {
  margin-bottom: 20px; /* Espacement entre les cartes des posts */
  width: calc(33.33% - 20px); /* Calcule la largeur de chaque carte avec un espacement entre les cartes */
  /* Pour une disposition flexible, vous pouvez également utiliser le pourcentage pour la largeur */
}

.post-header {
  text-align: center;
  margin-bottom: 20px;
}

.post-header h1 {
  color: #3f51b5;
  margin-bottom: 10px;
  font-weight: bold;
}
.container{
 /* Répartit les cartes également dans la ligne */
  margin: 2%;
}
.create-button{
  background: linear-gradient(to right, #064053, #26c6d7);
}
.card-class {
  margin-bottom: 20px;
  width: calc(33.33% - 20px);
  border: 1px solid #ccc; /* Ajouter une bordure */
  border-radius: 8px; /* Ajouter des coins arrondis */
}

.post-date {
  font-size: smaller;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
  color: #043342; /* Couleur de la date */

}


