mat-sidenav {

  /*background: linear-gradient(100deg, #D6A2DE, #6A85D3);*/
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/

  background: linear-gradient(135deg,#1A7373,#ADDCBE 90%);

  border: none;
  width: 230px;
  height: 100%;

}

mat-sidenav-content {
  height: 100vh;
  background-color: rgba(239, 238, 238, 0.61);
}

mat-toolbar {
  background-color: #ffffff;
  mat-icon {
    margin-left: 15px;
    color: gray;
  }
  justify-content: space-between;
}

.logoutButton {
  background: linear-gradient(135deg,#1A7373,#ADDCBE 90%);
}

@media (max-width: 768px) {
  .box {
    display: none;
  }
}
.box button:hover{

  /*background: linear-gradient(100deg, #D6A2DE, #6A85D3);*/
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
