<mat-sidenav-container class="container">
  <mat-sidenav #sidebar mode="side" [(opened)]="isSidebarOpened" *ngIf="isAuth">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="toolbar">
        <mat-toolbar *ngIf="!isProfilePage">
          <mat-icon (click)="sidebar.toggle()" *ngIf="isAuth" >menu</mat-icon>
          <div class="box">
            <button mat-button [ngClass]="{'center': !isAuth}"  routerLink="/user/home" ><mat-icon>home</mat-icon>Home</button>
            <!--            <button mat-button routerLink="/user/aboutUs"><mat-icon>book_border</mat-icon>About Us</button>-->
            <button mat-button routerLink="/user/needHelp" *ngIf="isAuth"><mat-icon>help</mat-icon>Need Help?</button>
            <button mat-button routerLink="/user/chatbot" *ngIf="isAuth"><mat-icon>chat</mat-icon>ChatBot</button>
            <button mat-button routerLink="/user/posts" *ngIf="isAuth"><mat-icon>note</mat-icon>Posts</button>

            <button mat-button routerLink="/login" *ngIf="!isAuth"><mat-icon>help</mat-icon>Need Help?</button>
            <button mat-button routerLink="/login" *ngIf="!isAuth"><mat-icon>chat</mat-icon>ChatBot</button>
            <button mat-button routerLink="/login" *ngIf="!isAuth"><mat-icon>note</mat-icon>Posts</button>

            <button mat-button routerLink="/user/aboutUs" *ngIf=" isAuth && authService.roles.includes('Therapist')"><mat-icon>book_border</mat-icon>TherapieSession</button>
            <button mat-button routerLink="/user/Mysession" *ngIf=" isAuth && authService.roles.includes('Patient')"><mat-icon>book_border</mat-icon>MySession</button>
            <button mat-button routerLink="/user/AddTherapist" *ngIf="isAuth && authService.roles.includes('Admin')"><mat-icon>book_border</mat-icon>OurTherapist</button>

            <!--            <button mat-button routerLink="/user/aboutUs" *ngIf="authService.roles.includes('Therapist') && isAuth"><mat-icon>book_border</mat-icon>TherapieSession</button>-->
            <!--            <button mat-button routerLink="/user/Mysession" *ngIf="authService.roles.includes('Patient') && isAuth"><mat-icon>book_border</mat-icon>MySession</button>-->
            <!--            <button mat-button routerLink="/user/AddTherapist" *ngIf="authService.roles.includes('Admin') && isAuth"><mat-icon>book_border</mat-icon>OurTherapist</button>-->
          </div>
          <button mat-raised-button class="logoutButton" color="accent" (click)="HandleLogout()" *ngIf="isAuth"><mat-icon style="color:white">logout</mat-icon>Logout</button>
          <button mat-raised-button class="logoutButton" color="accent" routerLink="/login"  *ngIf="!isAuth"><mat-icon style="color:white">login</mat-icon>Login</button>
        </mat-toolbar>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
