<div class="container">
  <div class="content">
    <div class="notes-section">
      <div class="notes">
        <div class="note" *ngFor="let note of myNotes">
          <span class="edit-icon" (click)="editNote(note.id)">✎</span>
          <span class="delete-icon" (click)="deleteNote(note.id)">🗑️</span>
          <div class="note-header">
            <h3>{{ note.title }}</h3>
          </div>
          <p>{{ note.content }}</p>
          <div class="note-footer" *ngIf="!onEdit">
            <span><i class="date-icon">📅</i> {{ note.createdDate  | date:'dd MMM yyyy'}}</span>
            <span><i class="time-icon">⏰</i> {{ note.createdDate | date:'hh:mm a, EEEE'  }}</span>
          </div>
          <div class="note-footer" *ngIf="onEdit">
            <span><i class="date-icon">📅</i> {{ note.updatedDate }}</span>
            <span><i class="time-icon">⏰</i> {{ note.updatedDate | date:'shortTime' }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar">
      <div class="quick-notes">
        <h3><span class="quick-notes-icon">🗒️</span> Quick Notes</h3>
        <ul id="quick-notes-list">
          <li *ngFor="let note of quickNotes; let i = index">
            {{ note }}
            <button class="delete-note-btn" (click)="deleteQuickNote(i)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </li>
        </ul>
        <form (ngSubmit)="addQuickNote()">
          <input type="text" id="quick-note-input" [(ngModel)]="newQuickNote" placeholder="Add quick note" class="form-control" name="quickNote">
          <button type="submit" class="add-note-btn1">Add Quick note</button>
        </form>
      </div>


      <div class="new-note" *ngIf="!onEdit">
        <h3><span class="new-note-icon">📝</span>New Note</h3>
        <form [formGroup]="noteForm" (ngSubmit)="SaveNotes()">
          <input type="text" placeholder="Title" class="form-control" formControlName="title" >
          <textarea placeholder="Content" class="form-control" formControlName="content" ></textarea>
          <div class="button-container">
            <button  class="add-note-btn" type="submit" [disabled]="!noteForm.valid">Add note</button>
            <button type="button" class="cancel-edit-btn" (click)="cancelEdit()">Cancel</button>
          </div>
        </form>
      </div>
      <div class="new-note" *ngIf="onEdit">
        <h3><span class="new-note-icon">📝</span>Update Note</h3>
        <form [formGroup]="EditForm" (ngSubmit)="updateNote()">
          <input type="text" placeholder="Title" class="form-control" formControlName="title" >
          <textarea placeholder="Content" class="form-control" formControlName="content" ></textarea>
          <div class="button-container">
            <button  class="add-note-btn" type="submit" [disabled]="!EditForm.valid">Update note</button>
            <button type="button" class="cancel-edit-btn" (click)="cancelEdit()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
